body {
    background: rgb(250, 199, 30);
    font: normal 15pt CARROL DEMO;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
}

div {
    text-align: center;
    padding: 8px;
}

input#txtano {
    border-radius: 7px;
    padding: 2px;
    border: 1px solid grey;
}

#mas, #fem {
    cursor: pointer;
}

input#botao {
    border: 0.1px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding: 7px;
    box-shadow: 2px 2px grey;
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}